/* Style the links inside the pill navigation menu */
.pill-nav a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
  }
  
  /* Change the color of links on mouse-over */
  .pill-nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .pill-nav a.active {
    background-color: dodgerblue;
    color: white;
  }

  body{
    background: linear-gradient(-45deg,grey,rgb(151, 10, 10),rgb(177, 85, 9));
    background-size: 400% 400%;
    animation: Gradient 10s ease infinite;
    background-repeat: no-repeat;
    
}
 @-webkit-keyframes Gradient{
    0%{
        background-position: 0% 50% ;
    }
    50%{
        background-position: 100% 50%;
    }
        100%{
        background-position: 0% 50%;
        }
    }

    body {
        margin: 0;
        padding: 0;
    }
    
    div .pill-nav {
        margin: 0 auto;
        width: 100px;
        text-align: center;
    }
    
    ul {
        margin: 0;
        padding: 0;
    }
    
    ul li {
        margin-left: auto;
        margin-right: auto;
    }

 h1{
     text-align: center;
 }
 p{
     text-align: center;
 }